
.*
*.o
*.patch
cscope.*
TAGS
tags

# dont ignore gitignore
!.gitignore
*/build/
*/CMakeFiles/
#*/Makefile
*/cmake_install.cmake
*/bin_Logging/
*/bin_SBI/
*/CMakeCache.txt
CMakeCache.txt
CMakeFiles/
#Makefile
build/
cmake_install.cmake
liblibNGAP_ASN.a
liblibPLATFORM.a
liblibCOMMON.a
liblibNAS.a
*/bin_AKA/
bin_SBI/liblibSBI.a
liblibAKA.a
AKA_CRYPT_TEST
*/bin_crypto5GT/
utility_library/
nas/fuzz_test/NAS_FUZZ
nas/fuzz_test/bin_crypto5GT/
